*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    color:#333;
}

header{
    background:#003366;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:8px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

section{
    width:80%;
    margin:30px auto;
    background:white;
    padding:25px;
    border-radius:8px;
    box-shadow:0 0 10px gray;
}

h1,h2{
    margin-bottom:20px;
}

ul{
    margin-left:20px;
}

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}
